.sky-calendar{
	background-color: #fff;
	padding: 10px 20px;
}

.sky-calendar-header{
	padding: 20px 0px;
}
.sky-calendar-header .sky-calendar-cmd{
	width: 100%;
}
.sky-calendar-header .btn.active{
	background-color: #bbb;
}
.sky-calendar-header .dropdown-menu{
	max-height: 320px;
	overflow-y: auto;
}

.sky-calendar-body{
	width: 100%;
	overflow: auto;
	padding-bottom: 120px;
}


/*Table*/
.calendar{
	display: flex;
}
.calendar-row{
	display: flex;
	flex-direction: row;
	width: unset;
}
.calendar-row .calendar-col{
	flex: 1;
	position: relative;
	padding: 40px 10px;
	padding-bottom: 20px;
	border: 1px solid #bbb;
	cursor: pointer;
	width: 140px;
	min-width: 140px;
	margin-bottom: -1px;
	margin-right: -1px;
}
.calendar-row .calendar-col.now{
	background-color: #bbb;
}
.calendar-row .calendar-col.selected,
.calendar-row .calendar-col:hover{
	background-color: #eee;
}
.calendar-row .calendar-col span.text{
	position: absolute;
	top: 15px;
	left: 10px;
	color: #888;
}
.calendar-row .calendar-col.active span.text{
	color: #000;
}
.calendar-row .calendar-col .dropdown{
	position: initial;
}
.calendar-row .calendar-col .dropdown-element{
	top: 90%;
}
.calendar-row .calendar-col .menu-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
/*Month*/
.calendar-month > div{
	width: 100%;
}

/*Year*/
.calendar-year{
	min-width: 100%;
}
.calendar-year .calendar-row .calendar-col{
	position: relative;
	padding: 10px 20px;
	border: 1px solid #bbb;
	cursor: pointer;
	min-width: 64px;
}
.calendar-year .calendar-row .calendar-col.not-active{
	background-color: #eee;
}
.calendar-year .calendar-row .calendar-col.week-end{
	background-color: #d7fdeb;
}
.calendar-year .calendar-row .calendar-col:not(.calendar-date){
	min-width: 240px;
}

/*Hours*/
.calendar-hours{
	min-width: 100%;
}

.calendar-hours .calendar-hour{
	padding: 5px 5px;
	text-align: right;
}
.calendar-hours .calendar-col{
	position: relative;
	padding: 10px 20px;
	border: 1px solid #bbb;
	cursor: pointer;
}

/*Item*/
.calendar-item{
	position: relative;
	z-index: 9;
	overflow: hidden;
	max-width: 180px;
	background-color: #ddd;
	padding: 10px;
	margin-top: 5px;
}
.calendar-item h3{
	font-family: 'Hind Bold';
	font-size: 14px;
	margin-bottom: 0px;
}
.calendar-item p{
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: 0;
	overflow: hidden;
}

.calendar-year .calendar-item{
	max-width: 240px;
}

/*Calendar Item*/
.calendar-header{

	font-family: 'Hind Bold';
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 99;
}
.calendar-header .calendar-col{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
}
.calendar .calendar-col.calendar-hour,
.calendar .calendar-col.calendar-date{
	font-family: 'Hind Bold';
	padding: 10px 40px;
	text-align: center;
	background-color: #fff;
	position: sticky;
	left: 0;
	z-index: 98;
}
.calendar .calendar-col.calendar-hour{
	width: 80px;
	min-width: 80px;
	padding-left: 20px;
	padding-right: 20px;
}